<form action="play" method="post">
  <div class="form-group">
    <label for="name">Name your Tamagotchi</label>
    <input type="text" name="name" class="form-control">
  </div>

  <button type="submit">Submit</button>
</form>
