<h1>Welcome <%= $name %></h1>


<form action="/play" method="post">
  <input type="text" name="feed" hidden>

  <button type="submit">Feed</button>
</form>

<form action="/play" method="post">
  <input type="text" name="play" hidden>

  <button value="play" type="submit">Play with</button>
</form>

<form action="/play" method="post">
  <input type="text" name="sleep" hidden>

  <button type="submit">Sleep</button>
</form>

<form action="/play" method="post">
  <input type="text" name="is_alive" hidden>

  <button type="submit">Check if alive!</button>
</form>
